@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400&display=swap');
@import "null-style.css";
@import "font-icons.css";
@import "slider.css";
.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}
.header {
	background-color: #000000;
	position: fixed;
	width: 100%;
	z-index: 999;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #fff9;
	}
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headr__logo {}
	.burger__menu{
		display: none;
	}
.header__menu {
	display: flex;
	justify-content: center;
	.link{
		font-family: 'Open Sans',sans-serif;
		font-weight: 600;
		opacity: .9;
		color: #fff;
		display: inline-block;
		padding: 30px 24px;
		transition: all .3s;
		&:hover{
			background-color: #fff;
			color: #000;
			opacity: 1;
		}
	}
}
.link-tab{
	position: relative;
	cursor: pointer;
}
.tab.tabactive{
	height: 40px;
}
.tab {
	transition: all .4s;
	height: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 450px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .3px;
	position: absolute;
	top: 74px;
	right: 7%;
	background-color: #ff9b51;
	padding: 0 10px;

	a{
		color: #fff;
	}
}
.phone{
	position: relative;
	padding-left: 22px;
}
.phone::before{
	content: "\e900";
	font-family: 'icomoon';
	font-size: 17px;
	color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
}
.mail {
	position: relative;
	padding-left: 22px;
}
.mail::before{
	content: "\e945";
	font-family: 'icomoon';
	font-size: 17px;
	color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
}
.top {
	background: url('../images/top-background.jpg') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
	min-height: 711px;
	padding-top: 180px;
}
.top__row {
	display: flex;
	justify-content: space-between;
}
.top__left {
	font-family: 'Raleway', sans-serif;
	color: #fff;
}
.top__left_title {
	margin-bottom: 85px;
	max-width: 540px;
	font-size: 36px;
	opacity: .9;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		bottom: -40px;
		left: 5px;
		width: 65px;
		height: 2px;
		background-color: #fff8;
	}
}
.top__left_text {
	margin-bottom: 45px;
	max-width: 465px;
	font-size: 16px;
	line-height: 23px;
	opacity: .6;
	font-weight: 300;
}
.top__left_btn {
	min-width: 135px;
	height: 45px;
	background-color: transparent;
	border: 2px solid #fff;
	font-size: 15px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	transition: all .2s;
	span{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
	&::before{
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		width: 0%;
		height: 100%;
		transition: all .3s;
	}
	&:hover{
		color: #000;
		border: 3px solid #666;
	}
	&:hover::before{
		content: '';
		left: 0;
		width: 100%;
		background-color: #fff;
	}
}
.top__right {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.top__right_title {
	padding: 20px 55px;
	background-color: #f5f5f5;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 30px;
	text-align: center;
	span{
		color: #ff8b38;
	}
}
.right__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	input{
		width: 290px;
		padding: 10px 15px;
		border: 1px solid #d6d6d6;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		&::-webkit-input-placeholder {
			color: #bdbdbd;
		}
		&::-moz-placeholder {
			color: #0009;
		}
	}
	input+input{
		margin-top: 35px;
	}
}
.top__right_form-btn {
	margin-top: 50px;
	padding: 20px 0;
	background-color: #ff9b51;
	border: 0px;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	transition: .2s;
	&:hover{
		background-color: darkorange;
	}
}
.branbar {
	position: relative;
	box-shadow: 0px 0px 3px #000;
		&::after{
		content: '';
		width: 100%;
		height: 1px;
		background-color: #b7b7b7;
		position: absolute;
		bottom: 0px;
		left: 0;
	}
}
.brandbar__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.brandbar__left {
	font-family: 'Open Sans', sans-serif;
}
.brandbar__title {
	display: block;
	font-size: 20px;
	color: #333333;
	font-weight: 700;
	margin-top: 20px;
}
.brandbar__text {
	line-height: 20px;
	color: #86878b;
	max-width: 365px;
	margin-top: 13px;
	padding-bottom: 5px;
}

.brandbar__social {
	a{
		font-size: 48px;
		color: #cccccc;
		transition: .2s;
		&:hover{
			color: red;
		}
	}
	a+a{
		margin-left: 55px;
	}
}
.tabs {
	padding: 140px 0 115px 0;
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	.tabs__row{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.tabs__triggers {
	margin-right: 100px;
	.tabs__triggers_item {
		display: flex;
		justify-content: center;
		padding: 50px 33px;
		border: 1px solid #fff9;
		background-color: #333333;
		transition: all .3s;
		&--active{
		background-color: #ff8b38;
	}
	&:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
		span{
			font-size: 15px;
			line-height: 20px;
			color: #fff;
		}
	}
}
.tabs__content {
	.tabs__content_item {
		display: none;
		align-items: center;
		transition: all 1s;
		&--active{
			display: flex;
		}
		.content__item_article{
			margin-right: 100px;
			.content__item_title {
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 50px;
			}
			.content__item_text {
				max-width: 480px;
				line-height: 20px;
				color: #86878b;
				p+p{
					margin-bottom: 25px;
				}
			}
			.content__item_btn {
				display: inline-block;
				margin-top: 50px;
				font-weight: 600;
				color: #fff;
				padding: 15px 25px;
				background-color: #ff8b38;
				border-radius: 5px;
				transition: .2s;
				&:hover{
					background-color: coral;
				}
			}
		}
		.content__item_img{
			max-width: 320px;
			max-height: 100%;
			img{
				object-fit: contain;
				object-position: center;
				width: 100%;
				height: 253px;
			}
		}
	}
}
.subtitle {
	padding: 80px 0 110px 0;
}
.subtitle__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.subtitle__img {
	margin-right: 20px;
	max-width: 455px;
	height: 305px;
	box-shadow: 0 0 5px #051122;
	border-radius: 3px;
	img{
		border-radius: 3px;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.subtitle__article {
	max-width: 430px;
	font-family: 'Open Sans', sans-serif;
}
.article__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 43px;
	color: #212121;
	margin-bottom: 47px;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		bottom: -20px;
		left: 0;
		background-color: #ff8b38;
		width: 65px;
		height: 2px;
	}
}
.article__text {
	line-height: 20px;
	color: #86878b;
	margin-bottom: 45px;
}

.article__description {}
.description__text {
	span{
		display: block;
		font-weight: 600;
		line-height: 17px;
		color: #212121;
		margin-bottom: 8px;
	}
	line-height: 20px;
	color: #86878b;
	position: relative;
	padding-left: 67px;
	&+&{
		margin-top: 35px;
	}
}
.description__text:first-child::before{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 45px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ff8b38;
	background: url('../images/icons/first.png') no-repeat;
	background-size: 20px 16px;
	background-position: center;
}
.description__text:last-child::before{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 45px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ff8b38;
	background: url('../images/icons/last.png') no-repeat;
	background-size: 20px 16px;
	background-position: center;
}
.standpic {
	padding: 70px 0 85px;
	background: #f5f5f5;
}
.standpic__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.standpic__article {
	max-width: 475px;
	font-family: 'Open Sans', sans-serif;
	p{
		line-height: 20px;
		color: #86878b;
	}
	p+p{
		margin-top: 25px;
	}
}
.standpic__title {
	font-size: 20px;
	line-height: 43px;
	color: #212121;
	font-weight: 700;
	margin-bottom: 60px;
	position: relative;
		&::after{
		content: '';
		position: absolute;
		bottom: -25px;
		left: 0;
		background-color: #ff8b38;
		width: 65px;
		height: 2px;
	}
}
.standpic__img {
	margin-left: 20px;
	max-width: 455px;
	max-height: 305px;
	box-shadow: 0 0 5px #051122;
	border-radius: 3px;
	img{
		border-radius: 3px;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.our-procces {
	padding: 100px 0 105px;
}
.our-procces__title,
.pricing__title,
.slider__title,
.form__title {
	font-family: 'Raleway', san-serif;
	font-size: 36px;
	line-height: 43px;
	color: #212121;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
		&::after{
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #ff8b38;
		width: 65px;
		height: 2px;
	}
}
.our-procces__subtitle,
.pricing__subtitle,
.slider__subtitle,
.form__subtitle {
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-align: center;
	line-height: 20px;
	color: #86878b;
	margin-bottom: 175px;
}

.our-procces__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our-procces__card {
	font-family: 'Open Sans', san-serif;
	max-width: 355px;
	text-align: center;
	position: relative;
	&+&{
		margin-left: 20px;
	}
	&:first-child::before{
		content: '';
		position: absolute;
		top: -100px;
		transform: translateX(-50%);
		width: 70px;
		height: 75px;
		border-radius: 50%;
		border: 2px solid #ff8b38;
		background: url('../images/icons/our-procces1.png') no-repeat;
		background-size: 22px 30px;
		background-position: center;
	}
	&:nth-child(2)::before{
		content: '';
		position: absolute;
		top: -100px;
		transform: translateX(-50%);
		width: 70px;
		height: 75px;
		border-radius: 50%;
		border: 2px solid #ff8b38;
		background: url('../images/icons/our-procces2.png') no-repeat;
		background-size: 32px 22px;
		background-position: center;
	}
	&:last-child::before{
		content: '';
		position: absolute;
		top: -100px;
		transform: translateX(-50%);
		width: 70px;
		height: 75px;
		border-radius: 50%;
		border: 2px solid #ff8b38;
		background: url('../images/icons/our-procces3.png') no-repeat;
		background-size: 22px 30px;
		background-position: center;
	}
}
.card__title {
	display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 20px;
}
.card__text {
	line-height: 20px;
	color: #86878b;
}
.pricing {
	padding: 100px 0 100px;
	background-color: #f5f5f5;
}
.pricing__row{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
.slider__subtitle{
	margin-bottom: 50px;
}
.pricing__card {
	width: 25%;
	box-shadow: 0px 0px 15px #000;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.pricing__card_top{
	background: #333333;
	color: #fff;
}
.pricing__card_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	display: block;
	padding: 20px 0;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #fff9;
	}
}
.most::after{
	background: #fff;
}
.pricing__subtitle{
	margin-bottom: 80px;
}
.pricing__card_price {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 30px 0 25px;
	span:first-child{
		font-size: 35px;
		line-height: 24px;
	}
	span:last-child{
		font-size: 94px;
		line-height: 24px;
	}
}
.pricing__card_subtitle {
	font-weight: 300;
	line-height: 24px;
	font-size: 12px;
	opacity: .7;
	font-style: italic;
	margin-bottom: 18px;
	display: block;
}
.card__price_bottom{
	display: block;
	background: #ff8b38;
	height: 5px;
}
.popular {
	padding: 20px 0;
	line-height: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pricing__card_bottom {}
.card__list {
	padding: 10px 0;
	position: relative;
	li+li{
		margin-top: 20px;
	}
	li{
		line-height: 24px;
		color: #86878b;
		padding: 0 0px 0 0;
	}
}
.slider {
	padding: 100px 0 ;
}
.custom {
	padding: 75px 0 0px ;
	background: url("../images/custom-background .jpg") no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}
.custom__title {
	font-size: 36px;
	margin-bottom: 60px;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		width: 65px;
		height: 2px;
	}
}
.custom__subtitle{
	font-size: 16px;
}
.custom__btn {
	display: block;
	width: 135px;
	margin: 0 auto;
	height: 45px;
	background-color: transparent;
	border: 2px solid #fff;
	font-size: 15px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	transition: all .2s;
	margin-top: 30px;
	margin-bottom: 60px;
	span{
		position: absolute;
		transform: translateX(-50%) translateY(80%);
	}
	&::before{
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		width: 0%;
		height: 100%;
		transition: all .3s;
	}
	&:hover{
		color: #000;
		border: 3px solid #666;
	}
	&:hover::before{
		content: '';
		left: 0;
		width: 100%;
		background-color: #fff;
	}
}
.form {
	padding: 100px 0 80px;
}
.form__subtitle {
	margin-bottom: 80px;
}
.form__form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	.input{
		display: flex;
		flex-direction: column;
		input{
			width: 525px;
			padding: 10px 15px;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			border-bottom: 1px solid #6667;
			&::-webkit-input-placeholder{
				font-family: 'Open Sans', sans-serif;
				color: #bdbdbd;
			}
			&::-moz-placeholder{
				font-family: 'Open Sans', sans-serif;
				color: #0007;
			}
		}
	}
	input+input{
		margin-top: 30px;
	}
	textarea{
		padding: 10px 15px;
		width: 525px;
		height: 173px;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px solid #6667;
		resize: none;
		&::-webkit-input-placeholder{
			font-family: 'Open Sans', sans-serif;
			color: #bdbdbd;
		}
		&::-moz-placeholder{
			font-family: 'Open Sans', sans-serif;
			color: #0007;
		}
	}
}
.form__btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	display: block;
	background: #ff9b51;
	border: 0px;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 0 auto;
	transition: .2s;
	&:hover{
		background: darkorange;
	}
}
.footer {
	padding: 20px 0 15px;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__icons {
	a{
		font-size: 24px;
		color: #cccccc;
		transition: .3s;
		&:hover{
			color: red;
		}
	}
	a+a{
			margin-left: 20px;
		}
}
.footer__law {
	display: block;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #fff;
	opacity: .6;
	font-size: 12px;
	margin-top: 12px;
}